*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 50vh;
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 25px;
    width: 400px;

    background-color: grey;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}
.container h1{
    text-align: left;
    color: #47647c ;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid #749b8b;
}
.container label{
    text-align: left;
    color: #4e6272;
}
.container form input{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 15px;
    border: none;
    background-color: grey;
    border-bottom: 2px solid #b7dfce;
    color: #90caf9;
    font-size: 18px;
}
.container form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#2baa75;
    font-size: 18px;
    color: #fafafa;
}